

.table-wrapper{
    width: 1800px;
    margin-left: 100px;
}
.table {
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
  }
.user_log {
    display:flex;
    font-size: 22px;
    margin-left: auto;
    justify-content: end;

}
.user_log h2 {
    font-size: 22px;
    margin-left: auto;
    margin-right: 5px;

} 