.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .wrapper h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  
  .form-detail {
    margin-top: 50px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-info {
    display: flex;
    align-items: center;
  }
  
  .logo-info img {
    height: 100px;
    margin-right: 20px;
  }
  
  .logo-input {
    margin-left: 20px;
  }
  
  .input-img {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  


  .wrapper-date-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .input-title {
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
  }
  
  .label-des {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
    display: block;
  }
  
  .input-des {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-top: 10px;
  }
 
  
  .wrapper-des {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .wrapper-gen {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .input-res {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }
  
  .checkbox_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .input_wrapper_checkbox {
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  .input_wrapper_checkbox label {
    font-size: 1.2rem;
    margin-left: 5px;
  }
  
  .button-action-div {
    margin-top: 30px;
    text-align: center;

  }
  
  .button-action {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-left: 150px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  #button-update{
    margin-left: 120px;
  }
  
  .button-action:hover {
    background-color: #0066b2;
  }