.App {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
  }
  
  .wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input,
  .textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
  }
 
  .btn-edit{
    margin-top: 20px;
    text-align: right;
    margin-left: 900px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn {
    margin-top: 20px;
    text-align: right;
    margin-left: 40px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0062cc;
  }
  
  .material-icons {
    font-size: 24px;
  }

  .logo_com{
    width: 300px;
    height: 150px;
  }

  .logo_img{
    width: 250px;
    height: 100px;  
  }

  .logo_com{
     display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  }