.App {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
  }
  
  .wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input,
  .textarea {
    display: block;
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
  }
 
  .btn-edit{
    margin-top: 20px;
    text-align: right;
    margin-left: 900px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn {
    margin-top: 20px;
    text-align: right;
    margin-left: 40px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0062cc;
  }
  
  .material-icons {
    font-size: 24px;
  }

  .logo_com{
    width: 500px;
    display: flex;
    height: 100px;
    margin-bottom: 60px;
  }

  .logo_img-old{
    width: 250px;
    object-fit: contain;
    height: 100px;  
  }
  .logo_img-new{
    width: 250px;
    object-fit: contain;
    height: 100px;  
  }
  .upload_button {
    background-color: #4CAF50; /* màu nền */
    color: white; /* màu chữ */
    border: none; /* không viền */
    border-radius: 30px;
    padding: 10px 20px; /* độ lớn của nút */
    max-height: 50px;
    text-align: center; /* căn giữa nội dung */
    text-decoration: none; /* không gạch chân */
    display: inline-block; /* hiển thị dạng block */
    font-size: 16px; /* kích thước chữ */
    margin: 10px; /* khoảng cách với các phần tử khác */
    cursor: pointer; /* biến con trỏ chuột thành hình tay */
  }
    .upload_button:hover{
      background-color: #388f3b;
    }
  
  .logo-input{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    max-height: 50px;
    color: #ffffff;
    background-color: #5b6ea7;
    border-radius: 4px;
    cursor: pointer;
  }

  .logo-input:hover {
    background-color: #6f84c3;
  }
