.App {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
  }
  
  .wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .wrapper h1{
    text-align: center;
    margin-bottom: 50px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input,
  .textarea {
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
  }
 
  .btn-edit{
    margin-top: 20px;
    text-align: right;
    margin-left: 900px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn-edit:hover{
    background-color: #008CBA;
  }
  .btn:hover {
    background-color: #0062cc;
  }
  
  .material-icons {
    font-size: 24px;
  }

.btn{
    padding: 10px 20px;
    margin-top: 40px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
  }