.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  .forgot-password-popup h1 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  
  .forgot-password-popup {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  
  .forgot-password-popup label {
    display: block;
    margin-bottom: 10px;
  }
  
  .forgot-password-popup input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .forgot-password-popup button {
    display: block;
    padding: 10px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }