.wrapper{
    height: 2000px;
    display: flex;
    justify-content: center;
}

.content{
    height: 100%;
    width: 1600px;
    background-color: #966e6e;
}

.banner{
    display: flex;
    width: 500px;
    height: 500px;
}