
.container_full{
    width: 100%;
    height: 5000px;
    margin-right: auto;
    margin-left: auto;
}
.container{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
}
.search{
    width: 100%;
    margin-top: 70px;

}
.search-banner{
    position: relative;
}

.banner-wrapper-search h1{
    position: absolute;
    top:30%;
    left: 20%;
}
.input-1{
    position: relative;
    margin-right: 40px;
}
.banner-div{
    position: absolute;
    top:50%;
    left: 20%;
    display: flex;
}

.input-2{
    position: relative;
}
.search-button{
    position: relative;
}

.search-button button{
    width: 130px;
    border-radius: 10px;
    border: none;
    height: 50px;
    background-color: #1C6DD0;
    font-size: 16px;
    color: #fff;
    margin-left: 40px;

}
.search-button button:hover{
    background-color: #2463b0;
}
.seach-icon-button{
    position: absolute;
    left: 28%;
    padding: 1px;
    color: #fff;
    top:35%;
}

.seach-icon{
    position: absolute;
    left: 2%;
    top:35%;

    color: #1C6DD0;
}
.banner-div input{
    padding: 6px 12px 6px 46px;
    border-radius: 4px;
    line-height:24px;   
    font-size: 16px;
    border: none;
    width: 600px;
    height: 54px;
}

.banner-div input::placeholder{
    font-size: 16px;
}

.banner-wrapper img{
    width: 100%;
    height: 400px;
}

.filter_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }
  
  select {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    margin-right: 20px;
  }
  
  select option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  select:hover {
    border: 1px solid #333;
  }
  
  select:focus {
    outline: none;
    border: 1px solid #333;
  }
  
  @media screen and (max-width: 768px) {
    .filter_wrapper {
      flex-wrap: wrap;
    }
  
    select {
      width: 100%;
      margin: 10px 0;
    }
  }


//Jobpost
.jobpost{
    width: 1600px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}

.jobpost-title{
    margin-top: 80px;
}
.jobpost-title span{
    font-size: 30px;
    font-weight: 600;
    margin-left: 40px;

}
.jobpost-description{
    border: 1px solid rgb(134, 134, 215);
    margin-top: 10px;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FAFAFA;
    height: 200px;
    width: 1200px;
    display: flex;
}
.logo img{
    width: 140px;
    height: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

.jobpost_detail{
    width: 100%;
    height: 100%;
    margin-left: 30px;
    padding: 5px;

}
.jobpost_detail h2{
    font-weight: 600;
    color:#00448f;
    margin-left: 10px;
}
.jobpost_detail .detail_span{
    font-size: 18px;
    display: block;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    line-height: 24px;
}
.company{
    text-transform:uppercase;
}
.location{
    opacity: 0.5;
    font-weight: 200;
}
.salary{
    color:rgb(120, 63, 173)
}

.jobpost-description:hover{
    box-shadow: 0 15px 50px #bdbdbd;
}

.jobpost-preview p{
    color: red;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
}

.wrapper_jobpost{
    position: relative;

}

.wrapper_content{
    display: flex;
    align-items: center;
}



.pagination {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    position: absolute;
    top: 360%;
    left: 12%;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-top: 40px;

  padding: 10px;
  }
  
  .pagination li {
    margin: 5px;
  }
  
  .pagination a {
    color: black;
    padding: 5px 10px;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #ddd;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1
    px solid #4CAF50;
  }
  .pagination a:focus {
    background-color: #515b51;
    color: white;
  }

  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
  
  .pagination .next,
  .pagination .previous {
    border: 1px solid #ddd;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  .pagination .next:hover:not(.disabled),
  .pagination .previous:hover:not(.disabled) {
    background-color: #ddd;
  }
  
  .pagination .disabled {
    color: #ddd;
    cursor: not-allowed;
    opacity: 0.6;
  }







.wrapper{
    position: absolute;
    top:480%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 700px;
    padding: 50px;
    border-radius: 20px;
    background-color: #F7F7F7;
    box-shadow: 0 30px 50px #bdbdbd;
}

#slide{
    width: max-content;
    margin-top: 50px;
}

.item{
    cursor: pointer;
    width: 400px;
    height: 280px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-position:50% 50%;
    transition: 1s;
    background-size: 90%;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.Viettel{
    background-image: url('https://thanhtra.com.vn/data/images/0/2021/01/07/congdinh/logo-moi-cua-viettel.jpg?dpi=150&quality=100&w=630&mode=crop&anchor=topcenter&scale=both');
}
.Fpt{
    background-image: url('https://rubicmarketing.com/wp-content/uploads/2022/07/y-nghia-logo-fpt-lan-3.jpg');
}
.BIDV{
    background-image: url('https://image.bnews.vn/MediaUpload/Org/2022/04/26/logo-bidv-20220426071253.jpg');
}
.VIB{
    background-image: url('https://inkythuatso.com/uploads/images/2021/12/logo-vib-inkythuatso-3-21-13-43-27.jpg');
}
.TMA{
    background-image: url('https://obs.line-scdn.net/0hDifDPO9tG0ZbPTcsCFpkEWd4FSssEx0OIwtWJ3k6EHIjD1URZA8GJHc0Q3JzD1pHMwxdd3puEXBw');
}
.MoMo{
    background-image: url('https://atc-edge49.mservice.com.vn/app/img/portal_documents/mini-app_design-guideline_branding-guide-2-2.png');
}



.title_slide h1{
    margin-left: 150px;
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.item:nth-child(1){
    transform: translate(-150%);
    background-position: 0% 50%;
    opacity: 0;
}
.item:nth-child(2){
    transform: translate(-40%);
    background-position: 20% 50%;
}

.item:nth-child(3){
    transform: translate(70%);
    background-position: 50% 50%;
}

.item:nth-child(4){
    transform: translate(180%);
    background-position: 80% 50%;
}

.item:nth-child(n+5){
    transform: translate(290%);
    background-position: 100% 50%;
    opacity: 0;
}

.item .content{
    position: absolute;
    top:100%;
    background-color: #fff;
    width: 100%;
    padding: 0 5%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-shadow: 0 30px 50px #b9b9b9;
    transition: 0.5s;
    overflow: hidden;
    max-height: 130px;
}

.item:hover .content{
    max-height:130px ;
}

.item .content .from{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.item .content .address{
    opacity: 0.5;
    text-align: left;
}

.decription{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.decription .type{
    opacity: 0.5;
}
.decription .moreDetails{
    text-decoration: underline;
    font-style: italic;
    color: red;
    text-decoration-color: red;
}

.item:hover{
    background-size: 110%;
}
.buttons{
    position: absolute;
    bottom: 40px;
    left: 30px;
    text-align: center;
    width: 100%;
}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5;
}
.buttons button:hover{
    background-color: #bac383;
}
.prev{
    margin-right: 50px;
}
