/* Wrapper container */
.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Main container */
  .container {
    width: 1300px;
    position: relative;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
  }
  .container h2{
    display: flex;
    width: 30%;
    color: #5d677a;
    font-size: 25px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  /* Job Application List */
  .jobapp {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Job Application Card Container */
  .jobapp_container {
     border-radius: 5px;
     border-top: 0.5px solid #e5eaf0;
     border-bottom: 0.5px solid #e5eaf0;
     background-color: #ffffff;
     width: 80%;
     height: 180px;
     display: flex;
     margin-left: 120px;

  }
  
  /* Company Logo */
  .logo{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo .wrapper-logo{
    width: 170px;
    height: 80%;
    border-radius: 10px;
    border: 1px solid rgb(199, 187, 187);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo img{
      width: 100%;
      height: 80px;
      object-fit: contain;
      cursor: pointer;
  
  }
 .jobpost-icon{
  display: flex;
  margin-top: 5px;
  align-items: center;
  }
  .jobpost-icon img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }


 
  /* Job Application Detail */
  .jobapp_detail {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .jobapp_span{
    font-size: 1.5rem;
  }
  /* Job Title */
  .jobapp_span.title_span {
    font-size: 2rem;
    cursor: pointer;
    font-weight: 500;
    color: red;
  }
  .jobapp_span.title_span:hover {
    font-size: 2rem;
    font-weight: 600;
    color: #2662a2;
  }
  
  /* Company Name */
  .company_span {
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
  }
  .jobapp_span .company_span:hover{
    color: #2662a2;
  }
  .jobapp_span.date_span {
    font-size: 1.5rem;

  }
  
  /* Job Status */
  .jobapp_span.status_span {
    font-size: 1.5rem;
    color: #3fbb67;
  }


  .pagination-container{
   position: absolute;
   bottom: 100px;
   left: 45%;
  }
  ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

ul.pagination li {
  list-style: none;
  margin-right: 10px;
}

ul.pagination li a {
  display: flex;
  align-items: center;
  padding: 10px 13px;
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

ul.pagination li a:hover {
  background-color: #333;
  color: #fff;
}
