.wrapper {
  max-width: 800px; /* Giới hạn chiều rộng tối đa của phần tử cha */
  margin: 0 auto; /* Canh giữa phần tử cha */
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.settings-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  width: 200px;
  font-weight: bold;
  margin-right: 20px;
}

p {
  margin: 0;
}

.settings-option {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.settings-option button {
  margin-left: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.settings-option button:hover {
  background-color: #3e8e41;
}

.popup {
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: 0 auto;
}

.popup input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.popup button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #3e8e41;
}
.update-info-wrapper{
  display: flex;
}
.update_info {
  width: 150px;
  height: 40px;
  padding: 5px 10px;
  margin-left: 73px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #4CAF50;
  cursor: pointer;
  margin-bottom: 10px;
}

.update_info:hover {
  background-color: #0066cc;
}